<!DOCTYPE html>
<html>
  <head>
  <title>Block D</title>
   {% load static %}
   <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
          <link rel=stylesheet href="{% static 'style.css' %}">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="{% static 'fusioncharts.js' %}"></script>
   <script type="text/javascript" src="{% static 'fusioncharts.theme.ocean.js' %}"></script>
  </head>
  <body>
   <div id="main">
              <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{% url 'logout' %}"><img src="{% static 'logotransparent.png' %}" style = "height:35px; width: auto; margin-left: 20px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'Dmain' %}" style="font-size: 20px;">Sump <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'DmainTank' %}" style="font-size: 20px;">Tank</a>
          </li>
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'chartD' %}" style="font-size: 20px;">Graph</a>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Logout</button>
        </form>
      </div>
              </nav>
  <div class="container">
    <!-- Fusion Charts will render here-->
    <div id="chart-1" style="margin-left:20%"></div>
    <!-- dumping JavaScript code here -->
    {{ output|safe }}
  </div>
   </div>
   <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'main' %}">Block A<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Bmain' %}">Block B</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Cmain' %}">Block C</a>
          </li>
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'Dmain' %}">Block D</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'chart' %}">Total Water</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>