
body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav .active1{
    color: #f1f1f1;
}
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 650px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.pics {
    position: absolute;
    bottom: 0;
    /*display: none;*/
    
}

.pics2 {
    position: absolute;
    bottom: 0;
/*    display: none;*/
    
}
.perc {
    position: absolute;
    box-sizing: border-box;
    padding-top: 215px;
    padding-left: 135px;
    /*display: none;*/
}

.drops-layer-sump {
    
    margin-top: 20;
    height: auto;
    background-color: #FFF;
    float: left;
    display: block;

}

.sump-pump {
    width: 150px;
    height: 150px;
    background-color: #31679f;
    padding: 55 0 0 33;
    margin:230 0 0 455;
    border-radius: 150px;
    position: absolute;
    float: left;
    font-size: 30px;
    font-family: Lato;
    font-weight: 600;
    color: #000;
}
.sump-pump:hover{
    background-color: 18528d;
    color: #FFF;
}
.drop {
    background-color: rgba(0,0,0,0);
    width:303px;
    height: 431px;
    position: relative;
    margin:100 0 0 85;
    float:left;
    /*display: none;*/
}
.box {
    background-color: #03a9f4;
    position: absolute;
    width:303px;
    height: 9px;
    bottom: 0px;
    /*display: none;*/
    
}
.drop2 {
    background-color: rgba(0,0,0,0);
    width:303px;
    height: 431px;
    position: absolute;
    margin:100 0 0 670;
    float:left;
    /*display: none;*/
}
.box2 {
    background-color: #03a9f4;
    position: absolute;
    width:303px;
    height: 9px;
    bottom: 0px;
    /*display: none;*/
    
}
.perc2 {
    position: absolute;
    box-sizing: border-box;
    padding-top: 215px;
    padding-left: 135px;
    text-align: center;
/*    display: none;*/
}
